<app-shared-loading class="loading" *ngIf="loading"></app-shared-loading>

<div class="container">
  <div class="map" #map></div>
  <app-shared-header class="header"></app-shared-header>
  <div class="button-container">
    <div class="info-container">
      <div class="first-row">
        <p class="green short"> 7:00 pm </p>
        <p class="reject" (click)="rejectTrip()">RECHAZAR</p>
      </div>
      <p class="green">RECOGER PASAJERO</p>
      <div class="shared-info">
        <p class="white"> {{ tripInfo.start_location }} </p>
        <p class="black"> {{ tripInfo.destination_location }} </p>
      </div>
    </div>
    <app-primary-button class="confirm" (btnClick)="startTrip()">
      <p class="text">CONFIRMAR VIAJE</p>
      <img class="button-image" [src]="imageUrl">
    </app-primary-button>
  </div>
</div>
