@import 'src/app/core/sass/colors';

.back-arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: setColor(firm-gray, 100);
  max-width: 4.5rem;
  min-height: 2.6rem;
  border-radius: 0.5rem;

  .icon {
    padding: 0.4rem;
    background-color: $green;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 50%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;

  .header {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

.white-background {
  background-color: $white;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: $black;
  width: 100%;
  max-height: 3.5rem;
  border-radius: 0.5rem 1rem 1rem 0.5rem;

  .logo {
    align-items: center;
    width: 6rem;
    margin: 0.5rem 0.8rem;
  }

  .d-flex {
    align-items: center;
  }

  .profile {
    margin: 0 3rem 0 1rem;
  }

  .weather {
    height: 4rem;
  }

  .translate {
    background-color: $green;
    height: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9rem 0.2rem 0.3rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}
