<ion-header class="container ion-no-border" [class.white-background] = "whiteHeader" collapse="fade">
  <div class="back-arrow" (click)="goToPreviousPage()">
    <span class="material-icons-round icon"> arrow_back_ios </span>
  </div>
  <div class="header">
    <section class="header-wrapper">
      <img
        class="profile"
        *ngIf="!isProfileRoute()"
        src="assets/images/profile.svg"
        [routerLink]="['/profile']"
        alt="profile"
      />
      <img
        class="logo"
        (click)="navigate('home')"
        src="assets/images/logo.svg"
        alt="Logo"
      />

      <div class="d-flex">
        <img class="weather" [src]="weatherImage" alt="weather" (click)="navigate('address')"/>
        <img
          class="translate"
          src="assets/images/translate.svg"
          alt="translate"
        />
      </div>
    </section>
  </div>
</ion-header>
