@import 'src/app/core/sass/global';

.container {
  @include flex-column;
  gap: 0.7rem;
  height: 85%;

  .button {
    width: 90%;
  }
}

.trip-container {
  height: 50%;
  width: 90%;
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/unidad.png');
  background-position: 100%;
  border-radius: 0.6rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .label {
    display: flex;
    text-transform: uppercase;
    justify-content: flex-start;
    margin-bottom: 1.4rem;

    .icon {
      margin:0 0.5rem;
      font-size: 1.5rem;
    }
  }
}

.experience-container {
  height: 25%;
  width: 90%;
  border-radius: 0.6rem;
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/events.png');
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.shared-container {
  display: flex;
  height: 25%;
  width: 90%;
  gap: 0.7rem;
}

.airport-container, .specials-container {
  width: 50%;
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
}

.airport-container {
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/airport.png');
}

.specials-container {
  @include background-cover('https://biiz-bucket.s3.us-east-2.amazonaws.com/specials.png');
  background-size: 250%;
  background-position: 30%;
}

.button {
  width: 11.7rem;
  background-color: $white;
}

.label {
  width: 6.6rem;
  background-color: $green;
}

.button-container {
  display: flex;
  margin: 1.4rem;
}

.button,
.label {
  @include flex-center;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 0.3rem;
}
