<app-shared-header></app-shared-header>
<ion-content>
  <div class="container">
    <section class="option-wrapper">
      <p class="title">CUENTA</p>
      <div class="text inter">
        Desbloquear cuenta
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
      <div class="text inter">
        Cambiar numero de telefono
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
      <div class="text inter">
        Seguridad
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
    </section>
    <section class="option-wrapper">
      <p class="title">PAGOS Y PRECIOS</p>
      <div class="text inter">
        Metodos de pago
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
      <div class="text inter">
        Estimacion de precios
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
      <div class="text inter">
        Costos por cancelacion
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
      <div class="text inter">
        Costos por daño a la unidad
        <span class="material-icons-outlined icon">
          arrow_forward_ios
        </span>
      </div>
    </section>
  </div>
</ion-content>
