@import '@/core/sass/global';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
  font-family: 'Gotham';
  src:
    url('@/assets/fonts/GothamBold.ttf') format('truetype'),
    url('@/assets/fonts/Gotham-Bold.otf') format('opentype');
}

:root,
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Gotham', sans-serif;
  letter-spacing: 0.05rem;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

// Simple reusable classes
.mb-1 {
  margin-bottom: 1rem;
}

.d-flex {
  display: flex;
}

.pointer {
  cursor: pointer;
}

.inter {
  font-family: 'Inter', sans-serif;
}

.display-btn {
  border-radius: 0.5rem;
  background-size: cover;
}

ion-app {
  background-color: white;
}

.ion-page > ion-content {
   top: 6rem;
}