@import 'src/app/core/sass/global';

.profile-wrapper {
  @include flex-column;
  height: 11.3rem;
  justify-content: flex-end;

  .profile-photo {
    position: absolute;
    margin-bottom: 3.8rem;
  }
}

.profile-name {
  @include bordered-container( 100%, 5.7rem, 0.4rem, $black);
  font-size: 1rem;
  font-weight: bold;
  color: white;

  .name {
    margin: 0;
    text-transform: uppercase;
  }
}

.icon {
  margin-bottom: 0.5rem;
  background-color: $green;
  border-radius: 50%;
  font-size: 1.8rem;
  padding: 0.2rem;
  color: setColor(firm-gray, 300);
  position: absolute;
  right: 0;
  bottom: 0;
}
