<div class="calendar-container">
 <section class="arrow-label">
  <img class="logo" [src]='imageUrl' alt="logo" />
  <div class="label">
    <span
      class="material-icons-round arrow-l"
      *ngIf="!isCurrentMonth()"
      (click)="changeMonth(-1)"
    >
      arrow_back_ios
    </span>
    {{ month }}
    <span class="material-icons-round arrow" (click)="changeMonth(1)">
      arrow_forward_ios
    </span>
  </div>
 </section>
 <section class="date">
  <div class="weeks">
    <div class="day header" *ngFor="let day of weekdays">{{day}}</div>
  </div>
  <div class="weeks" *ngFor="let week of weeks">
    <div
      class="day"
      *ngFor="let date of week"
      [class.selected]="isDateSelected(date)"
      (click)="selectDate(date)"
    >
      {{ date ? date : '' }}
    </div>
  </div>
 </section>
 <section class="time">
  <p class="date-time"></p>
  <div class="clock-wrapper">
    <div *ngIf="!isHourInputVisible" class="label" (click)="toggleHourInput()">{{ hour }}</div>
    <div *ngIf="isHourInputVisible" class="input-wrapper">
      <input
        #hourInput
        type="number"
        [value]="inputHour"
        (input)="onHourInputChange($event)"
        min="1"
        max="12"
        class="custom-input"
      />
    </div>
    <p class="dots">:</p>
    <div *ngIf="!isMinutesInputVisible" class="label" (click)="toggleMinutesInput()">{{ minutes }}</div>
    <div *ngIf="isMinutesInputVisible" class="input-wrapper">
      <input
        #minutesInput
        type="number"
        [value]="inputMinutes"
        (input)="onMinutesInputChange($event)"
        min="0"
        max="59"
        class="custom-input"
      />
    </div>
  </div>
  <div class="label" (click)="toggleTimePeriod()">{{timePeriod}}</div>
 </section>
</div>
