// Primary Colors
$white: #fff;
$black: #000;
$green: #00e741;
$red: #e3000b;
$line: #d5dde0;
$yellow: #faff00;

$scheme: (
  biiz-green: (
    default: #00e741,
  ),
  firm-gray: (
    default: #cfcfcf,
    0: #cfcfcf,
    10: #f7f8f9,
    50: #afafaf,
    100: #aeaeae,
    200: #97adb6,
    300: #3e4958,
  ),
);
//
// @param $hue The color
// @param $shade - optional, defaults to default shade.
//
// @example
//     color:setColor(athletic-red);
//     background: setColor(firm-gray, 500);
//

@function setColor($hue, $shade: default) {
  @return map-get(map-get($scheme, $hue), $shade);
}
