@import 'src/app/core/sass/index';

.button-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin: 1rem 0.5rem 1.4rem 1.4rem;
  width: 13rem;
}

.button {
  display: flex;
  justify-content: center;
  font-weight: bold;
  background-color: $white;
  font-size: 0.8rem;
  width: 11.7rem;
  border-radius: 0.3rem;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green;
  width: 2.5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  position: absolute;
  right: 0;
  margin-bottom: 1.5rem;

  .icon {
    font-size: 1.2rem;
  }
}
